<footer class="mt-auto py-3 text-center">

  <small class="mb-2">
    <a style="color:#e4e4e4">jakubmodrzewski12@gmail.com</a>
    <!-- <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong> -->
  </small>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/yousinix/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>

</footer>