<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-20">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class=" wow animated slideInUp" data-wow-delay=".15s">{{ site.description | newline_to_br }}</p>

  </div>
  
  

</div>

<div class="background-image-container">
  <img src="{{ 'assets/img/tinified/malbork-resized.png' | relative_url }}" alt="Tło" class="background-image" />
</div>
